{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "semi": true,
  "tabWidth": 2,
  "importOrder": [
    "^react",
    "^(?!(hooks|types|utils|shared|modules|[./])).+",
    "^hooks",
    "^types",
    "^utils",
    "^shared",
    "modules",
    "^[./]"
  ],
  "importOrderSeparation": true
}
