::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.p-dialog-header-close {
  z-index: 1;
}

button[aria-label="Apply"] {
  background-color: #6366F1;
}
