.input-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.input-label {
	display: flex;
    justify-content: space-between;
	color: var(--grey, #656a74);
	font-feature-settings:
		"clig" off,
		"liga" off;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.04375rem;
}

.input-required {
	color: var(--error, #f03);
}

.input-error {
	color: var(--error, #f03);
	background: var(--error-4, #fbf4f7) !important;
}

.input-icon {
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-field {
	position: relative;
}

.input-field input {
	display: flex;
	width: 100%;
	height: 40px;
	padding: 1rem;
	align-items: center;
	align-self: stretch;
	border-radius: 0.5rem;
	background: var(--input, #edf3f5);
}

.input-field input::placeholder {
	color: var(--light-grey, #b0b4ba);
	/* Placeholder */
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.0225rem;
}

.input-field input:focus {
	border: none;
	outline: none; /* Remove the default focus outline */
}

.input-error-message {
	color: var(--error, #f03);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.04063rem;
}


.input-error-circle-complete{
	width: 8px;
	height: 8px;
	background-color: rgba(255, 0, 51, 1);
	border-radius: 50px;
}

.input-error-circle-incomplete{
	border-radius: 50px;
	opacity: 10%;
	width: 8px;
	height: 8px;
	background-color: rgba(255, 0, 51, 1);
}

.input-strength-header-container{
	display: flex;
    gap: 5px;
    align-items: center;
}

.input-strength-header{
	display: flex;
	gap: 2px;
	align-items: center;
}

.input-strength-container{
	display: flex;
    gap: 5px;
    align-items: center;
}

.input-strengh-text{
	color: var(--grey, #656A74);
font-feature-settings: 'clig' off, 'liga' off;
/* Subtitle - 14 - Semibold */
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.04375rem;
}